<div class="container-fluid">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="containerLogin rounded">
      <div class="text-center mb-4">
        <img src="../../../assets/logoCodeQuest.svg" alt="Logo" width="300">
      </div>

      <!-- Formulário de Login -->
      <form *ngIf="currentForm === 'login'" (ngSubmit)="submitForm('login')" [formGroup]="loginForm">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="E-mail ou usuário" formControlName="userName" required>
          <div *ngIf="loginForm.controls['userName']?.invalid && (loginForm.controls['userName']?.dirty || loginForm.controls['userName']?.touched)" class="text-danger">
            E-mail ou usuário é obrigatório.
          </div>
        </div>
        <div class="mb-3 input-group">
          <input type="password" class="form-control" placeholder="Senha" [type]="passwordHidden ? 'password' : 'text'" formControlName="password" required>
          <fa-icon 
            class="fa-icon" 
            [icon]="passwordHidden ? faEye : faEyeSlash" 
            (click)="togglePassword()" 
            [ngClass]="{'eye-slash-red': !passwordHidden}">
          </fa-icon>
        </div>
        <div *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)" class="text-danger mb-3">
          A senha é obrigatória.
        </div>
        <div class="d-flex justify-content-between mb-3">
          <div>
            <input type="checkbox" formControlName="remember"> Lembrar-me
          </div>
          <a routerLink="" (click)="navigateTo('forgot')">Esqueceu a senha?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Entrar</ng-container>
          <ng-template #loadingTemplate>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando...
          </ng-template>
        </button>
        <button type="button" class="btn btn-primary btn-block mb-3" (click)="navigateTo('register')">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Cadastrar</ng-container>
          <ng-template #loadingTemplate>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando...
          </ng-template>
        </button>
      </form>

      <!-- Formulário de Cadastro -->
      <form *ngIf="currentForm === 'register'" (ngSubmit)="submitForm('register')" [formGroup]="registerForm">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Primeiro Nome" formControlName="primeiroNome" required>
          <div *ngIf="registerForm.controls['primeiroNome']?.invalid && (registerForm.controls['primeiroNome']?.dirty || registerForm.controls['primeiroNome']?.touched)" class="text-danger">
            O primeiro nome é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Último Nome" formControlName="ultimoNome" required>
          <div *ngIf="registerForm.controls['ultimoNome']?.invalid && (registerForm.controls['ultimoNome']?.dirty || registerForm.controls['ultimoNome']?.touched)" class="text-danger">
            O último nome é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email" required>
          <div *ngIf="registerForm.controls['email']?.invalid && (registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched)" class="text-danger">
            E-mail válido é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Usuário" formControlName="userName" required>
          <div *ngIf="registerForm.controls['userName']?.invalid && (registerForm.controls['userName']?.dirty || registerForm.controls['userName']?.touched)" class="text-danger">
            O usuário é obrigatório.
          </div>
        </div>
        <div class="mb-3 input-group">
          <input type="password" class="form-control" placeholder="Senha" [type]="passwordHidden ? 'password' : 'text'" formControlName="password" required>
          <fa-icon 
            class="fa-icon" 
            [icon]="passwordHidden ? faEye : faEyeSlash" 
            (click)="togglePassword()" 
            [ngClass]="{'eye-slash-red': !passwordHidden}">
          </fa-icon>
        </div>
        <div *ngIf="registerForm.controls['password']?.invalid && (registerForm.controls['password']?.dirty || registerForm.controls['password']?.touched)" class="text-danger mb-3">
          A senha é obrigatória.
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Confirmar Senha" formControlName="confirmPassword" required>
          <div *ngIf="registerForm.controls['confirmPassword']?.invalid && (registerForm.controls['confirmPassword']?.dirty || registerForm.controls['confirmPassword']?.touched)" class="text-danger">
            As senhas devem coincidir.
          </div>
        </div>
        <div class="mb-3">
          <label for="profileImage" class="form-label">Imagem de Perfil</label>
          <input type="file" class="form-control" id="profileImage" (change)="onFileSelected($event)">
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Cadastrar</ng-container>
          <ng-template #loadingTemplate>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando...
          </ng-template>
        </button>
        <div class="text-center">
          Já é um membro? <a href="#" (click)="navigateTo('login')">Entrar</a>
        </div>
      </form>

      <!-- Formulário de Esqueci a Senha -->
      <form *ngIf="currentForm === 'forgot'" (ngSubmit)="submitForm('forgot')" [formGroup]="forgotForm">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email" required>
          <div *ngIf="forgotForm.controls['email']?.invalid && (forgotForm.controls['email']?.dirty || forgotForm.controls['email']?.touched)" class="text-danger">
            E-mail válido é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Confirmar E-mail" formControlName="confirmEmail" required>
          <div *ngIf="forgotForm.controls['confirmEmail']?.invalid && (forgotForm.controls['confirmEmail']?.dirty || forgotForm.controls['confirmEmail']?.touched)" class="text-danger">
            Os e-mails devem coincidir.
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Enviar</ng-container>
          <ng-template #loadingTemplate>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando...
          </ng-template>
        </button>
        <div class="text-center">
          <a href="#" (click)="navigateTo('login')">Voltar para Entrar</a>
        </div>
      </form>
    </div>
  </div>
</div>
