<div class="container-fluid col-md-11 p-5 vh-100">
  <div class="row">
    <div class="col col-md-12 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">
          <div class="col-md-4 gradient-custom text-center mx-auto mb-4"
               style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img [src]="user.imagemURL || 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp'"
                 alt="Avatar" class="img-fluid my-5 rounded-avatar" />
            <h5>{{ user.primeiroNome }}</h5>
            <p>{{ user.level }}</p>
            <div class="container col-md-6">
              <p class="justify-content-start d-flex">XP</p>
              <div class="progress mx-auto" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style.width.%]="user.xp"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Informações do usuário</h6>
              <div style="position: absolute; top: 10px; right: 10px;">
                <button class="btn btn-light" (click)="openModal()">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Primeiro Nome</h6>
                  <p class="text-muted">{{ user.primeiroNome }}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Último Nome</h6>
                  <p class="text-muted">{{ user.ultimoNome }}</p>
                </div>
              </div>
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p class="text-muted">{{ user.email }}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Nome de Usuário</h6>
                  <p class="text-muted">{{ user.userName }}</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateInfoModal" tabindex="-1" aria-labelledby="updateInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateInfoModalLabel">Atualizar Informações</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="primeiroNome" class="form-label">Primeiro Nome</label>
            <input type="text" class="form-control" id="primeiroNome" formControlName="primeiroNome">
          </div>
          <div class="mb-3">
            <label for="ultimoNome" class="form-label">Último Nome</label>
            <input type="text" class="form-control" id="ultimoNome" formControlName="ultimoNome">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">Nome de Usuário</label>
            <input type="text" class="form-control blocked-input" id="userName" formControlName="userName">
          </div>
          <div class="mb-3">
            <label for="profileImage" class="form-label">Imagem de Perfil</label>
            <input type="file" class="form-control" id="profileImage" (change)="onFileSelected($event)">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Atualizar</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>
