<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-12 mb-4 text-center">
      <h2>Introdução a Programação</h2>
    </div>

    <div class="col-md-12 mb-4">
      <div class="topic-level">
        <div class="topic-card" *ngFor="let topic of topics" [class.disabled]="!isTopicUnlocked(topic)" (click)="openTopicModal(content, topic)">
          <i class="fas fa-book topic-icon"></i>
          <p>{{ topic.title }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-4 text-center">
      <h2>Estrutura de Controle</h2>
    </div>

    <div class="col-md-12 mb-4">
      <div class="topic-level">
        <div class="topic-card" *ngFor="let topic of additionalTopics" [class.disabled]="!isTopicUnlocked(topic)" (click)="openTopicModal(content, topic)">
          <i class="fas fa-laptop-code topic-icon"></i>
          <p>{{ topic.title }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-4 text-center">
      <h2>Funções</h2>
    </div>

    <div class="col-md-12 mb-4">
      <div class="topic-level">
        <div class="topic-card" *ngFor="let topic of moreTopics" [class.disabled]="!isTopicUnlocked(topic)" (click)="openTopicModal(content, topic)">
          <i class="fas fa-book-open topic-icon"></i>
          <p>{{ topic.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ selectedTopic?.title }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h6>Nível: {{ selectedTopic?.level }}</h6>
      <div *ngIf="selectedTopic">
        <div *ngFor="let question of selectedTopic.questions">
          <h5>{{ question.text }}</h5>
          <div *ngFor="let option of question.options" [ngClass]="{'incorrect': showFeedback && selectedQuestion === question && selectedOption === option && !isCorrectOption(question, option)}">
            <input class="form-check-input" type="radio" name="question{{ question.id }}" [value]="option" (change)="selectOption(question, option)">
            <label class="form-check-label">{{ option }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Fechar</button>
      <button type="button" class="btn btn-primary" (click)="completeTopic()">Concluir</button>
    </div>
  </ng-template>
</div>
